<div class="card-div">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>¡Bienvenido!</mat-card-title>
            <mat-card-subtitle>Inicio/Registro</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Inicio sesión">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Usuario </mat-label>
                            <input type="email" matInput placeholder="usuario" value="">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="********">
                        </mat-form-field>
                    </div>
                    <button class="btn-mat-class" mat-raised-button color="primary">Iniciar</button>
                </mat-tab>
                <mat-tab label="Registro">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Clave</mat-label>
                            <textarea matInput placeholder="Clave"></textarea>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Nombre</mat-label>
                            <textarea matInput placeholder="Nombre"></textarea>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Teléfono</mat-label>
                            <textarea matInput placeholder="Tel."></textarea>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>E-mail </mat-label>
                            <input type="email" matInput placeholder="usuario" value="">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="********">
                        </mat-form-field>


                    </div>
                    <button class="btn-mat-class" mat-raised-button color="primary">Registrar</button>

                </mat-tab>
            </mat-tab-group>
        </mat-card-content>


    </mat-card>
</div>