<doctor-surgery [isDoctorCreated]="isDoctorCreated" ></doctor-surgery>
<div *ngIf="isDoctorCreated" class="container">

  <div class="card-div">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Paciente</mat-card-title>
        <mat-card-subtitle>Registro</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <mat-label>Matricula </mat-label>
          <input type="email" matInput placeholder="NSS" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <textarea matInput placeholder="Nombre"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Especialidad</mat-label>
          <textarea matInput placeholder="Ap. Paterno"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Cédula</mat-label>
          <textarea matInput placeholder="Ap. Materno"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Dirección</mat-label>
          <textarea matInput placeholder="Dirección"></textarea>
        </mat-form-field>
        <button class="btn-mat-class" mat-raised-button color="primary">Registrar Paciente</button>

      </mat-card-content>

    </mat-card>
  </div>
</div>